

body {
  background-image: url(../public/61de2ba956418acd9ab454ceca15bbb2.jpg);
  background-repeat:repeat-y;
  background-size:100%;
  background-attachment: scroll;
  transition: 0.5s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
